## Settings file was created by plugin Nomap Printer v1.3.12
## Plugin GUID: shudnal.NomapPrinter

[General]

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 2505
NexusID = 2505

## Print map on table interaction
# Setting type: Boolean
# Default value: true
Enabled = false

## Configuration is locked and can be changed by server admins only.
# Setting type: Boolean
# Default value: true
Lock Configuration = false

[Logging]

## Enable logging. [Not Synced with Server]
# Setting type: Boolean
# Default value: false
Enabled = false

[Map]

## Where to show ingame map
# Setting type: MapWindow
# Default value: ShowEverywhere
# Acceptable values: Hide, ShowEverywhere, ShowNearTheTable, ShowOnInteraction
Ingame map = ShowEverywhere

## Show interactive original game map on record discoveries part of map table used
# Setting type: Boolean
# Default value: false
Show interactive map on record discoveries = false

## Show parts of the map shared by others
# Setting type: Boolean
# Default value: true
Show shared map = true

## Prevent creating pin when using interactive map
# Setting type: Boolean
# Default value: false
Prevent adding pins on interactive map = false

[Map custom layers]

## Use custom explored map layer if it was found in config folder or shared from server
# Setting type: Boolean
# Default value: false
Explored map - Enable layer = false

## Share explored map layer from server to clients. 
## File with size more than 7MB will most likely not be loaded with default data rate of 150KB/s.
## Safest way is to share explored world as packed file and place it into mod config folder on the clients
# Setting type: Boolean
# Default value: false
Explored map - Share from server = false

## Use custom under fog map layer if it was found in config folder or shared from server
# Setting type: Boolean
# Default value: false
Under fog - Enable layer = false

## Enable server to clients sharing of layer data
# Setting type: Boolean
# Default value: false
Under fog - Share from server = false

## Use custom over fog map layer if it was found in config folder or shared from server
# Setting type: Boolean
# Default value: false
Over fog - Enable layer = false

## Enable server to clients sharing of layer data
# Setting type: Boolean
# Default value: false
Over fog - Share from server = false

## Use custom fog texture if it was found in config folder or shared from server
# Setting type: Boolean
# Default value: false
Fog texture - Enable layer = false

## Enable server to clients sharing of fog texture
# Setting type: Boolean
# Default value: false
Fog texture - Share from server = false

[Map restrictions]

## Distance to nearest map table for map to be shown (only for "Show Near The Table" map mode)
# Setting type: Single
# Default value: 10
Show map near the table when distance is less than = 10

## Count of base pieces surrounding the player should be more than that for map to be shown
# Setting type: Int32
# Default value: 0
Show map when base pieces near the player is more than = 0

## Player comfort buff should be more than that for map to be shown
# Setting type: Int32
# Default value: 0
Show map when player comfort is more than = 0

[Map save]

## Save generated map to file. Works in normal map mode. You can set exact file name or folder name [Not Synced with Server]
# Setting type: Boolean
# Default value: false
Save to file = false

## File path used to save generated map. [Not Synced with Server]
# Setting type: String
# Default value: 
Save to file path = 

[Map storage]

## Type of storage for map data. Default is save map data to local folder.
# Setting type: MapStorage
# Default value: LocalFolder
# Acceptable values: Character, LocalFolder, LoadFromSharedFile
Data storage = LocalFolder

## Save and load map data from local folder. If relative path is set then the folder will be created at ...\AppData\LocalLow\IronGate\Valheim
# Setting type: String
# Default value: 
Local folder = 

## Load map from the file name instead of generating one. File should be available on the server.
# Setting type: String
# Default value: 
Shared file = 

[Map style]

## Type of generated map
# Setting type: MapType
# Default value: Chart
# Acceptable values: BirdsEye, Topographical, Chart, OldChart, Vanilla
Map type = Chart

## Resolution of generated map. More details means smoother lines but more data will be stored
# Setting type: MapSize
# Default value: Normal
# Acceptable values: Normal, Smooth
Map size = Normal

## Default scale of opened map, more is closer, less is farther.
# Setting type: Single
# Default value: 0.7
Map zoom default scale = 0.7

## Minimum scale of opened map, more is closer, less is farther.
# Setting type: Single
# Default value: 0.25
Map zoom minimum scale = 0.25

## Maximum scale of opened map, more is closer, less is farther.
# Setting type: Single
# Default value: 2
Map zoom maximum scale = 2

[Map style extended]

## Pin scale
# Setting type: Single
# Default value: 1
Pin scale = 1

## Generate Vanilla map with shared map fog tint
# Setting type: Boolean
# Default value: true
Preserve shared map fog tint for vanilla map = true

## Land outside of that radius will be ignored
# Setting type: Single
# Default value: 10500
World size = 10500

## Speed of map zoom while using gamepad. [Not Synced with Server]
# Setting type: Single
# Default value: 1
Map gamepad zoom speed = 1

## Speed of map move while using gamepad. [Not Synced with Server]
# Setting type: Single
# Default value: 1
Map gamepad move speed = 1

## Use similar multiplier as in EWSize mod. Map size multiplier should also match world radius to get correct results.
# Setting type: Single
# Default value: 1
Map size multiplier = 1

[Messages]

## Center message when drawing is started. [Not Synced with Server]
# Setting type: String
# Default value: Remembering travels...
Drawing begin = Remembering travels...

## Center message when saving file is started. [Not Synced with Server]
# Setting type: String
# Default value: Drawing map...
Drawing end = Drawing map...

## Center message when file is saved. [Not Synced with Server]
# Setting type: String
# Default value: Map is ready
Saved = Map is ready

## Top left message with file name. [Not Synced with Server]
# Setting type: String
# Default value: Map saved to
Saved to = Map saved to

## Center message on trying to open a not ready map. [Not Synced with Server]
# Setting type: String
# Default value: Map is not drawn yet
Not ready = Map is not drawn yet

## Center message on trying to open a map with failed base pieces requirement check. [Not Synced with Server]
# Setting type: String
# Default value: Not enough base pieces ({0} of {1})
Not enough base pieces = Not enough base pieces ({0} of {1})

## Center message on trying to open a map with failed comfort requirement check. [Not Synced with Server]
# Setting type: String
# Default value: Not enough comfort ({0} of {1})
Not enough comfort = Not enough comfort ({0} of {1})

[Pins]

## Show pins on drawed map
# Setting type: Boolean
# Default value: true
Show map pins = true

## Only show pins on explored part of the map
# Setting type: Boolean
# Default value: true
Show only explored pins = true

## Show merchant pins even in unexplored part of the map
# Setting type: Boolean
# Default value: true
Show merchants pins always = true

## Only show your pins on the map
# Setting type: Boolean
# Default value: true
Show only my pins = true

## Only show pins that doesn't checked (have no red cross)
# Setting type: Boolean
# Default value: true
Show only unchecked pins = true

[Pins list]

## Show all pins
# Setting type: Boolean
# Default value: false
Show all pins = false

## Show Start pin on drawed map
# Setting type: Boolean
# Default value: true
Show Start pins = true

## Show Haldor pin on drawed map
# Setting type: Boolean
# Default value: true
Show Haldor pins = true

## Show Hildir pin on drawed map
# Setting type: Boolean
# Default value: true
Show Hildir pins = true

## Show Hildir quest pins on drawed map
# Setting type: Boolean
# Default value: true
Show Hildir quest pins = true

## Show Bog Witch pin on drawed map
# Setting type: Boolean
# Default value: true
Show Bog Witch pins = true

## Show Boss pins on drawed map
# Setting type: Boolean
# Default value: true
Show Boss pins = true

## Show Fire pins on drawed map
# Setting type: Boolean
# Default value: true
Show Fire pins = true

## Show House pins on drawed map
# Setting type: Boolean
# Default value: true
Show House pins = true

## Show Hammer pins on drawed map
# Setting type: Boolean
# Default value: true
Show Hammer pins = true

## Show Pin pins on drawed map
# Setting type: Boolean
# Default value: true
Show Pin pins = true

## Show Portal pins on drawed map
# Setting type: Boolean
# Default value: true
Show Portal pins = true

## Show Bed pins on drawed map
# Setting type: Boolean
# Default value: false
Show Bed pins = false

## Show Death pins on drawed map
# Setting type: Boolean
# Default value: false
Show Death pins = false

## Show Epic Loot pins on drawed map
# Setting type: Boolean
# Default value: true
Show Epic Loot pins = true

## Show pin where you died last time
# Setting type: Boolean
# Default value: true
Show Last Death pin = true

[Table]

## Make "Read map" part to open interactive map and "Record discoveries" part to generate map. +
## Doesn't work in Show On Interaction map mode [Not Synced with Server]
# Setting type: Boolean
# Default value: false
Swap interaction behaviour on map table parts = false

